@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap');

body {
	font-family: 'Quicksand', sans-serif;
	color: #212121;
	line-height: 1.8;
}
* {
    box-sizing: border-box;
}
a, button {
    cursor: pointer;
}
a, a:hover, a:focus {
	text-decoration: none;
	color: #212121;
}
strong {
	font-weight: 700;
}

table {
	width: 100%;
	margin: 20px 0;
	font-size: 14px;
}
table tr th {
	font-weight: 700;
}
table, tr, td, th {
	border: 1px solid #ccc;
	text-align: center;
	padding: 8px;
}

.container {
	width: 1170px;
	margin: 0 auto;
}
header {
	padding: 20px 0;
}
.logo {
	display: flex;
	float: left;
}
.logo span{
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
}
.logo img {
	width: auto;
	height: 30px;
	margin-right: 8px;
}
.start-nav {
	margin-left: auto;
}
.nav-item {
	line-height: 30px;
	padding: 0 15px;
}
.top-intro {
	width: 100%;
	padding: 80px;
	text-align: center;
	margin-top: 30px;
	background: linear-gradient(45deg, #232955, #4c5597);
	color: #fff;
	border-radius: 20px;
}
.top-intro > h1{
	margin-bottom: 20px;
}
.top-intro > p{
	font-size: 20px;
}
.top-intro > a {
	background: #fff;
	padding: 12px 30px;
	display: block;
	width: fit-content;
	width: -moz-fit-content;
	width: -webkit-fit-content;
	width: -o-fit-content;
	margin: 30px auto 0;
	border-radius: 8px;
	font-weight: 700;
	color: #242a57;
	box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
}
h1 {
	font-weight: 700;
	font-size: 26px;
}
h2 {
	font-weight: 700;
	font-size: 23px;
}
section {
	margin-bottom: 80px;
}
pre {
	margin: 20px 0 !important;
}
.example-label {
	margin: 20px 0;
	display: block;
	font-weight: 700;
}
.wrapper {
	background-color: #f5f2f0;
}
.wrapper2 {
	height: 120px;
}
.box {
	line-height: 60px;
	font-size: 14px;
	background-color: #e18c41;
	color: #fff;
	text-align: center;
	border: 2px solid #bf6f29;
}
.divider {
	display: block;
	width: 100%;
	border-bottom: 1px solid #ececec;
	margin: 70px 0;
}
.mb {
	margin-bottom: 30px;
}
footer {
	background-color: #212121;
	color: #eaeaea;
	font-size: 13px;
	padding: 10px 0;
}
footer a{
	color: #fff;
	font-weight: 700;
}
footer a:hover{
	color: #fff;
}
.mobile-menu {
	display: none;
	position: relative;
	margin-left: auto;
	width: 20px;
	height: 20px;
	padding: 0;
	background-color: transparent;
	border: none;
}
.mobile-menu > span{
	position: absolute;
	width: 20px;
	height: 2px;
	background-color: #212121;
	right: 0;
	border-radius: 2px;
}
.mobile-menu > span:nth-child(1){
	top: 0;
}
.mobile-menu > span:nth-child(2){
	top: 6px;
}
.mobile-menu > span:nth-child(3){
	top: 12px;
}
pre[class*="language-"] {
	z-index: 1;
	position: relative;
}


@media only screen and (max-width: 1200px) {
	.container {
		width: 992px;
	}
}

@media only screen and (max-width: 992px) {
	.container {
		width: 768px;
	}
}

@media only screen and (max-width: 768px) {
	.container {
		width: 576px;
	}
	nav {
		position: fixed;
		left: -240px;
		top: 0;
		height: 100%;
		width: 240px;
		background-color: #212121;
		flex-direction: column;
		padding-top: 30px;
		transition: all 0.2s ease-in-out;
		z-index: 999;
	}
	nav.active {
		left: 0;
	}
	nav > a,
	nav > a:hover,
	nav > a.start-nav {
		margin: 0;
		color: #fff;
		padding: 8px 20px !important;
	}
	.mobile-menu {
		display: inherit;
	}
	.top-intro > h1 {
		font-size: 20px;
	}
	.top-intro > p {
		font-size: 16px;
	}
	.table {
		overflow: hidden;
	}
	.tablerow {
		width: 100%;
		overflow-x: auto;
		position: relative;
		z-index: 1;
	}
	table {
		min-width: 768px;
	}
}

@media only screen and (max-width: 576px) {
	.container {
		width: 100%;
		padding: 0 10px;
	}
	.top-intro {
		padding: 50px 30px; 
	}
}